<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.dao.EquipmentDao">

	<resultMap type="Equipment" id="EquipmentResult">
		<result property="id" column="id"/>
		<result property="equipmentName" column="equipmentName"/>
		<result property="model" column="model"/>
		<result property="unit" column="unit"/>
		<result property="price" column="price"/>
		<result property="store" column="store"/>
		<result property="sum" column="sum"/>
		<result property="remark" column="remark"/>
	</resultMap>

	<select id="find" parameterType="Map" resultMap="EquipmentResult">
		select * from t_equipment
		<where>
			<if test="equipmentName!=null and equipmentName!='' ">
				and equipmentName like #{equipmentName}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_equipment
		<where>
			<if test="equipmentName!=null and equipmentName!='' ">
				and equipmentName like #{equipmentName}
			</if>
		</where>
	</select>
	<insert id="add" parameterType="Equipment" >
	  insert into t_equipment value(null,#{equipmentName},#{model},#{unit},#{price},#{store},#{sum},#{remark})   
	</insert>
	
	<update id="update" parameterType="Equipment">
	  update t_equipment 
	   <set>
	       <if test="equipmentName!=null and equipmentName!='' ">
	          equipmentName=#{equipmentName},
	       </if>
	        <if test="model!=null and model!='' ">
	          model=#{model},
	       </if>
	        <if test="unit!=null and unit!='' ">
	          unit=#{unit},
	       </if>
	        <if test="price!=null and price!='' ">
	          price=#{price},
	       </if>
	        <if test="store!=null and store!='' ">
	          store=#{store},
	       </if>
	        <if test="sum!=null and sum!='' ">
	          sum=#{sum},
	       </if>
	       <if test="remark!=null and remark!='' ">
	          remark=#{remark},
	       </if>  
	   </set>
	   where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
	delete from t_equipment where id=#{id}
	</delete>
</mapper> 